<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- bean definitions here -->
    <bean id="actor" class="com.stackroute.domain.Actor" scope="prototype">
        <constructor-arg index="0" name="name" value="Harry Potter"/>
        <constructor-arg index="1" name="gender" value="male"/>
        <constructor-arg index="2" name="age" value="22"/>
    </bean>

    <bean id ="movieA" autowire="byName" class="com.stackroute.domain.Movie">

    </bean>
    <bean id ="movieB" autowire="constructor" class="com.stackroute.domain.Movie">

    </bean>
    <bean id="beanLifecycleDemoBean" class="com.stackroute.domain.BeanLifecycleDemoBean" destroy-method="destroy">

    </bean>


</beans>
